<!DOCTYPE html>
<html>
<head>
  <title>Mystore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
 <div class="wrapper_menu">
	 <div class="header">
		<a href="#" class="slideout-menu-toggle">Menu</a>
		 
	</div>
	<div>
		
  <header>
		<div class="slideout-menu">
			<h3><a href="#" class="slideout-menu-toggle">×</a></h3>
			<ul>
				<% if spree_user_signed_in? %>

					<li>Hello <%= spree_current_user.email %>
						<li><%= link_to 'logout', spree.logout_path %></li>
						<li><%= link_to "My Account", spree.account_path %></li>
					</li>
				<% else %>
					<li><%= link_to 'login', spree.new_spree_user_session_path %> 
				<% end %>
					<li><a><%= link_to 'Home ', root_path%></a></li>
					<li><a><%= link_to 'Gallery', spree.products_path%></a></li>
					<li><a><%= link_to 'About us', about_path %></a></li>
					<li><a><%= link_to 'Contact us', spree_contact_path %></a></li>
 			</ul>
 		</div>	
</header>	
 <body>
	
<%= yield %>

<!--/.header-->

</body>
</html>
