<!DOCTYPE html>
<html>
<head>
  <title>Mystore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  </head>
  <header>
  <div id="top_head">

		<nav class="nave_bar">
			<ul>
				<li><%= link_to 'home',root_path %></li>
				<li><%= link_to 'sign up' %></li>
				<li><%= link_to 'login' %></li>
			</ul>
		</nav>	
		

		<div class="menu">
			<ul>
			<li>Home</li>
			<li>Galleries</li>
			<li>About us</li>
			<li>Contact</li>
			</ul>
		</div>

	</div>
</header>	
 <body>
 
	
<%= yield %>

</body>
</html>
