<!DOCTYPE html>
<html>
<head>
  <title>Mystore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
<link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>

</head>
<body>
	<!-- <div class="menu">
 -->
 <div class="wrapper_menu">
	 <div class="header">
		<a href="#" class="slideout-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
	</div>
		<div class="slideout-menu">
			<h3> <a href="#" class="slideout-menu-toggle">&times;</a></h3>

			<ul>
				<li><a>Home</a></li>
				<li><a><%= link_to 'Gallery', spree.products_path%></i></a></li>
				<li><a><%= link_to 'About us', about_path %></a></li>
				<li><a><%= link_to 'Contact us', contact_path %></a></li>
			</ul>
		</div>

		<!--/.slideout-menu-->
	<div>
		<% if spree_user_signed_in? %>
			<p class="signin_up_out" >Hello <%= spree_current_user.email %></p>
			<p class="signin_up_out" ><%= link_to 'logout', spree.logout_path %></p>
		<% else %>
		<p class="signin_up_out" ><%= link_to 'sign in |', spree.new_spree_user_session_path %>
			<%= link_to ' sign up', spree.new_spree_user_registration_path %></p>
		<% end %>
	</div>
<div>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


<!--/.header-->

	<%= yield %>

</body>
</html>
