<!DOCTYPE html>
<html>
<head>
  <title>Mystore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<% if spree_user_signed_in? %>
			<p>hello<%= spree_current_user.email %></p>
			<p><%= link_to 'logout', spree.logout_path %></p>
		<% else %>
		<p><%= link_to 'sign in', spree.new_spree_user_session_path %>
			<%= link_to 'sign up', spree.new_spree_user_registration_path %></p>
		<% end %>
	</header>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<div class="menu">
			<ul>
			<li>Home</li>
			<li>Galleries</li>
			<li>About us</li>
			<li>Contact</li>
			</ul>
		</div>

	<%= yield %>



  </head>
  <header>
  <div id="top_head">

		<nav class="nave_bar">
			<ul>
				<li><%= link_to 'home',root_path %></li>
				<li><%= link_to 'sign up' %></li>
				<li><%= link_to 'login' %></li>
			</ul>
		</nav>	
		

		<div class="menu">
			<ul>
			<li>Home</li>
			<li>Galleries</li>
			<li>About us</li>
			<li>Contact</li>
			</ul>
		</div>

	</div>
</header>	
 <body>
 
	
<%= yield %>
>>>>>>> 63c7e94d6618fccc2f46d80d02f2ea3e441e09c0

</body>
</html>
