<!DOCTYPE html>
<html>
<head>
  <title>Mystore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<!-- <div class="menu">
 -->
 <div class="wrapper_menu">
	<div class="header">
		<a href="#" class="slideout-menu-toggle">Menu</a>
	</div>
	<div>
		<% if spree_user_signed_in? %>
		<p id="greeting">Hello <%= spree_current_user.email %></p>
		<p><%= link_to 'logout', spree.logout_path %></p>
	<% else %>
		<p><%= link_to 'login', spree.new_spree_user_session_path %> 
	&nbsp;&nbsp;<%= link_to 'sign up', spree.new_spree_user_registration_path %></p>
		<% end %>
	</div>
<div>
<header>
		<div class="slideout-menu">
			<h3><a href="#" class="slideout-menu-toggle">×</a></h3>
			<ul>
				<li><a>Home</a></li>
				<li><a><%= link_to 'Gallery', spree.products_path%></a></li>
				<li><a><%= link_to 'About us', about_path %></a></li>
				<li><a><%= link_to 'Contact us', contact_path %></a></li>
 			</ul>
 		</div>
</header>	
	
<%= yield %>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<!--/.header-->

</body>
</html>
