<!DOCTYPE html>
<html>
<head>
  <title>Mystore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<% if spree_user_signed_in? %>
			<p>hello<%= spree_current_user.email %></p>
			<p><%= link_to 'logout', spree.logout_path %></p>
		<% else %>
		<p><%= link_to 'sign in', spree.new_spree_user_session_path %>
			<%= link_to 'sign up', spree.new_spree_user_registration_path %></p>
		<% end %>
	</header>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<div class="menu">
			<ul>
			<li>Home</li>
			<li>Galleries</li>
			<li>About us</li>
			<li>Contact</li>
			</ul>
		</div>

	<%= yield %>



  </head>
  <header>
		<div id="top_head">
			  <div> Galleria  Afro </div>
		</div>  
		<nav class="menu" class="slideout-menu">
			<h3>Menu <a href="#" class="slideout-menu-toggle">×</a></h3>
			<ul>
				<li><a href="#">Home <i class="fa fa-angle-right"></i></a></li>
				<li><a href="#">Art products <i class="fa fa-angle-right"></i></a></li>
				<li><a href="#">About us <i class="fa fa-angle-right"></i></a></li>
				<li><a href="#">Contact us<i class="fa fa-angle-right"></i></a></li>
			</ul>
		</nav>
	
</header>	
 <body>
 
	
<%= yield %>

</body>
</html>
